.ps-card--container {
    position: relative;
    font-family: 'Cairo', sans-serif;
    color: #7c7671;
    width: 400px;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.ps-card {
    width: 100%;
    margin: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: unset;
}

.ps-card:hover {
    color: unset;
    text-decoration: none;
}

.ps-card--img {
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.ps-card--body {
    box-shadow: 0 4px 15px rgba(175, 77, 0, 0.13);
    padding: 13px;
    border-radius: 8px;
    margin: -30px 10px 0;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.ps-card--body h4 {
    color: #474340;
    line-height: 100%;
    font-weight: bold;
}

.ps-card--body p {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.ps-card--categories span {
    background-color: rgba($primary, .1);
    padding: 5px 10px 7px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: $primary;
    font-weight: bold;
    line-height: 100%;
}

.ps-card--details {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.ps-card--detail i {
    vertical-align: middle;
}


.ps-card--detail span {
    // font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}
